process.executor = 'google-batch' 

executor {
    name = 'google-batch'
    google-batch {
        project = 'tower-nf-444010'        // Google Cloud Project ID
        region = 'southamerica-east1'      // Google Cloud Region
        location = 'southamerica-east1'    // Google Cloud Batch Location
    }
}

workDir = 'gs://seqera-sa-bucket/work'  

process {
    container = 'quay.io/nextflow/bash'  
    cpus = 2                            
    memory = '4 GB'                     
    time = '10m'                         
    disk = '20 GB'                      
}
