process.executor = 'google-batch'

executor {
    name = 'google-batch'
    google-batch {
        project = 'tower-nf-444010'        
        region = 'southamerica-east1'     
        location = 'southamerica-east1'    
    }
}

workDir = 'gs://seqera-sa-bucket/work'

process {
    container = 'quay.io/nextflow/bash'  
    cpus = 2                          
    memory = '4 GB'                                           
}
